@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "Lato", "Arial", sans-serif;
  margin-top: 190px;
  margin-left: 345px;
  max-width: 810px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 92px;
}
.img {
  margin-bottom: 60px;
}

.textbold {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 24px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.625;
  color: #424551;
  margin-bottom: 24px;
}
.text1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.625;
  color: #424551;
  margin-bottom: 48px;
}

.textboldnew {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;

  margin-bottom: 48px;
}

.list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6255;
  color: #424551;
  margin-bottom: 24px;
  padding: 0 0 0 58px;
}
